<div class="related">
  <h2 >{{ site.data.settings.related_posts }}</h2>
  {% assign listed_posts_urls = page.url | split: ' ' %}
  <ul class="related-posts">
    {% for tag in page.tags %}
      {% for post in site.tags[tag] limit:3 %}
        {% if listed_posts_urls contains post.url %}
        {% else %}
          <li>
            <small>{{ post.date | date: '%Y/%m/%d' }}</small>
            <!-- <small>{{ post.date | date: "%B %-d, %Y" }}</small> -->
              <a href="{{ site.url }}{{ post.url }}">
                {{ post.title }}
                <!--<img src="{{ site.url }}{{ site.baseurl }}/images/{{ post.image.teaser }}">-->
                <!---->
              </a>
          </li>
          {% assign listed_posts_urls = listed_posts_urls | push: post.url %}
        {% endif %}
      {% endfor %}
    {% endfor %}
  </ul>
</div>
