/*
  Site container
*/

.container {
  margin-left: auto;
  margin-right: auto;
  width: 615px;
  text-align: justify;
}

.content-container {
  margin-bottom: 4rem;
}

/*48em*/

@media (max-width: $container-responsive-width) {
  .container {
    width: 90vw;
  }
}

/*
  Header
*/

.header {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  font-family: $sans-serif-font-family;
}

.header-banner {
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 83px;
}

.header a:hover {
  color:black;
}

.header-title a {
  font-size: 2rem;
  text-decoration: none;
  color: $body-color;
}

.header-subtitle {
  color: $light-gray-color;
}

/*
  Menu
*/

.menu {
  padding-top: 0.5rem;
  display: block;
}

.menu-content {
  float: left;
}

.menu-content a {
  color: $light-gray-color;
  font-size: 1rem;
  padding-right: 10px;
}

.social-icons {
  float: right;
}

.social-icons a {
  color: $light-gray-color;
  font-size: 1rem;
}

@media (max-width: $elements-responsive-width) {
  .social-icons {
    float: left;
    padding-top: 0px;
  }
  .menu-content {
    margin-bottom: 5px;
  }
}

/*
  Footer
*/

.footer {
  color: $light-gray-color;
  text-align: center;
  margin: 2rem;
}

.footer a {
  color: $light-gray-color;
  padding: 10px;
  text-decoration: none;
}

.footer a:hover {
  color: $dark-gray-color;
}

.footer-description {
  display: block;
  margin-top:3px;
  margin-bottom: 1rem;
  color: $light-gray-color;
  font-family: $sans-serif-font-family;
  font-size:0.8rem;
}

/*
  tags
*/
.tags-cloud p {
  margin: 1em 0 0.5em !important;
}

.tags-cloud .tag {
  font-size:.9em;
}

.tags-post li {
  white-space: nowrap;
}

/*
  image-gallery
*/
/*! div style */
.image-gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(240px, 1fr));
  justify-content: center;
}

.image-gallery .box {
  margin: 0px 3px;
}

.image-gallery .img-gallery {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
  position: relative;
  z-index: 1;
  &:hover {
    transform: scale(1.05);
    z-index: 2;
    filter: none;
  }
}
