---
layout: compress
---
<!doctype html>
<html lang="{{ page.lang | default:site.lang | default:'en' | split:'-' | first | split:'_' | first }}">
  {% include head_blog.html %}
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TLDLNFSH"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="container">
      {% include header_blog.html %}
      <div class="content-container">
        {{ content }}
      </div>
      {% include footer.html %}
    </div>

    <!-- Scripts -->
    <script src="{{ "assets/js/jquery.min.js" | absolute_url }}"></script>
    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="{{ "assets/js/browser.min.js" | absolute_url }}"></script>
    <script src="{{ "assets/js/breakpoints.min.js" | absolute_url }}"></script>
    <script src="{{ "assets/js/main.js" | absolute_url }}"></script>
  </body>
</html>
